

#Registration #form3Example1cg{
  background-color: #f1d6b0; 
  width: 350px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

#loginbutton{
  color: white !important;
}



#Login #form3Example1cg{
  background-color: #f1d6b0; 
  width: 350px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

#Home>.container a{
  color: black; 
  text-decoration: underline;
  font-size: 20px;
}



#Pricing1>.container a{
  color: #f1d6b0; 
  text-decoration: underline;
  font-size: 20px;
}









